<form method="post" action="{% if selected_messung %}{% url 'messung_edit' selected_messung.id %}{% else %}{% url 'messung_create' selected_objekt.id %}{% endif %}" class="edit-form" id="messung-edit-form" data-create-url="{% url 'messung_create' selected_objekt.id %}">
  {% csrf_token %}
  <input type="hidden" name="messdaten" id="messdaten-input">
  <div class="form-header">
    <span class="form-title">Messung</span>
    <select id="messung-select">
      <option value=""{% if not selected_messung %} selected{% endif %}>Messung wählen</option>
      {% for messung in messungen %}
      <option value="{{ messung.id }}"{% if selected_messung and messung.id == selected_messung.id %} selected{% endif %}>{{ messung.name }}</option>
      {% endfor %}
    </select>
    <div class="form-actions">
      <a href="{% url 'messung:page' %}?objekt={{ selected_objekt.id }}{% if selected_messung %}&messung={{ selected_messung.id }}{% endif %}"
         class="icon-btn" title="Messung öffnen">
        <span class="icon">{% include "icons/folder-open.svg" %}</span>
      </a>
      <button type="button" class="icon-btn new-btn" title="Neue Messung">
        <span class="icon">{% include "icons/document-plus.svg" %}</span>
      </button>
      <button type="submit" class="icon-btn save-btn" title="Speichern" disabled>
        <span class="icon">{% include "icons/folder-arrow-down.svg" %}</span>
      </button>
      <button type="button" class="icon-btn accordion-toggle" data-target="#messung-fields" title="Minimieren">
        <span class="icon">{% include "icons/chevron-up.svg" %}</span>
      </button>
    </div>
  </div>
  <div id="messung-fields" class="accordion-body">
    <div class="form-row">
      {{ messung_form.name.label_tag }} {{ messung_form.name }}
    </div>
    <div class="form-row">
      {{ messung_form.anforderung.label_tag }} {{ messung_form.anforderung }}
    </div>
    <div class="form-row">
      {{ messung_form.messbedingungen.label_tag }} {{ messung_form.messbedingungen }}
    </div>
    <div class="form-row">
      {{ messung_form.messhoehe.label_tag }} {{ messung_form.messhoehe }}
    </div>
  </div>
</form>
