<h3>Messung</h3>
<form method="post" action="{% url 'messung_edit' selected_messung.id %}">
  {% csrf_token %}
  <div class="form-row">
    {{ messung_form.anforderung.label_tag }} {{ messung_form.anforderung }}
  </div>
  <div class="form-row">
    {{ messung_form.messbedingungen.label_tag }} {{ messung_form.messbedingungen }}
  </div>
  <div class="form-row">
    {{ messung_form.messhoehe.label_tag }} {{ messung_form.messhoehe }}
  </div>
  <button type="submit" class="mm-btn mm-btn--primary">
    <span class="icon">{% include "icons/folder-arrow-down.svg" %}</span>
    <span class="label">Speichern</span>
  </button>
</form>
