<h3>Objekt</h3>
<form method="post" action="{% url 'objekt_edit' selected_objekt.id %}">
  {% csrf_token %}
  {{ objekt_form.projekt }}
  <div class="form-row">
    {{ objekt_form.nummer.label_tag }} {{ objekt_form.nummer }}
  </div>
  <div class="form-row">
    {{ objekt_form.name.label_tag }} {{ objekt_form.name }}
  </div>
  <button type="submit" class="mm-btn mm-btn--primary">
    <span class="icon">{% include "icons/folder-arrow-down.svg" %}</span>
    <span class="label">Speichern</span>
  </button>
</form>
