<form method="post" action="{% url 'projekt_edit' selected_projekt.id %}" class="edit-form" id="projekt-edit-form">
  {% csrf_token %}
  <div class="form-header">
    <span class="form-title">Projekt</span>
    <div class="form-actions">
      <button type="submit" class="icon-btn" title="Speichern">
        <span class="icon">{% include "icons/folder-arrow-down.svg" %}</span>
      </button>
      <button type="button" class="icon-btn accordion-toggle" data-target="#projekt-fields" title="Minimieren">
        <span class="icon">{% include "icons/chevron-up.svg" %}</span>
      </button>
    </div>
  </div>
  <div id="projekt-fields" class="accordion-body">
    <div class="form-row">
      {{ projekt_form.code.label_tag }} {{ projekt_form.code }}
    </div>
    <div class="form-row">
      {{ projekt_form.name.label_tag }} {{ projekt_form.name }}
    </div>
    <div class="form-row">
      {{ projekt_form.beschreibung.label_tag }} {{ projekt_form.beschreibung }}
    </div>
  </div>
</form>
