<form method="post" action="{% if selected_projekt %}{% url 'projekt_edit' selected_projekt.id %}{% else %}{% url 'projekt_create' %}{% endif %}" class="edit-form" id="projekt-edit-form" data-create-url="{% url 'projekt_create' %}">
  {% csrf_token %}
  <div class="form-header">
    <span class="form-title">Projekt</span>
    <select id="projekt-select">
      <option value=""{% if not selected_projekt %} selected{% endif %}>Projekt wählen</option>
      {% for projekt in projekte %}
      <option value="{{ projekt.id }}"{% if selected_projekt and projekt.id == selected_projekt.id %} selected{% endif %}>{{ projekt.code }} {{ projekt.name }}</option>
      {% endfor %}
    </select>
    <div class="form-actions">
      <button type="button" class="icon-btn add-btn" title="Projekt hinzufügen">
        <span class="icon">{% include "icons/folder-plus.svg" %}</span>
      </button>
      <button type="submit" class="icon-btn save-btn" title="Speichern" disabled>
        <span class="icon">{% include "icons/folder-arrow-down.svg" %}</span>
      </button>
      <button type="button" class="icon-btn accordion-toggle" data-target="#projekt-fields" title="Minimieren">
        <span class="icon">{% include "icons/chevron-up.svg" %}</span>
      </button>
    </div>
  </div>
  <div id="projekt-fields" class="accordion-body">
    <div class="form-row">
      {{ projekt_form.code.label_tag }} {{ projekt_form.code }}
    </div>
    <div class="form-row">
      {{ projekt_form.name.label_tag }} {{ projekt_form.name }}
    </div>
    <div class="form-row">
      {{ projekt_form.beschreibung.label_tag }} {{ projekt_form.beschreibung }}
    </div>
  </div>
</form>
